::selection {
  background-color: var(--secondary-600);

}

#writer-page {
  // Base styles
  letter-spacing: -0.5px;
  font-size: 20px;

  .editor {
    min-height: 100%;
    position: relative;
  }

  .bubble-menu {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    gap: 20px;
    background: white;
    width: auto;
    border-radius: 5px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    button {
      border: none;
      background: transparent;

      &.active {
        i {
          color: var(--primary-500);
        }
      }
    }

    i {
      cursor: pointer;
      color: var(--adv-tertiary);

      &.active {
        color: var(--adv-primary);
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .change-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: -55px;
    gap: 10px;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-right: 50px;

       svg {
         width: 30px;
         height: 30px;
       }
    }

    .block-menu {
      padding: 0;
      border: 1px solid black;
      border-radius: 5px;
      background: white;
      box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

      .menu-item {
        cursor: pointer;
        border-bottom: 1px solid black;
        margin: 0;

        .menu-wrapper {
          padding: 5px;
          text-align: left;
          border-radius: 5px;
          margin: 0;

          &:hover {
            background: var(--secondary-200);
          }

          .menu-title {
            font-size: 15px;
            color: black;
            margin: 0;
          }

          .menu-subtitle {
            margin: 0;
            font-size: 12px;
            color: var(--white-800);
          }
        }
      }
    }
  }

  .search-box {
    position: absolute;
    right: 10px;
    top: 10px;
    background: black;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    z-index: 20;
    visibility: hidden;

    &.active {
      visibility: visible;
    }

    input {
      background: var(--adv-primary);
      border: none;
      border-radius: 3px;
      outline: none;
      margin-bottom: 10px;
      padding: 5px;
      color: white;

      &:last-of-type {
        margin: 0;
      }
    }

    .replace-bar {
      display: flex;
      margin-top: 5px;
      align-items: center;
      justify-content: center;

      input {
        flex: 1;
      }

      button {
        margin-top: 7px;
        background: transparent;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }

  .search-result {
    background: var(--adv-tertiary);
    padding: 2px;
  }

  .insert-link-box {
    width: 300px;
    flex-direction: column;
    display: flex;
    padding: 5px;
    background: white;
    border-radius: 5px;

    input {
      font-size: 14px;
      color: var(--adv-primary);
      border: 0;
      outline: none;
      box-shadow: none !important;
    }
  }

  .insert-menu {
    flex-direction: column;
    display: flex;
    border: 1px solid black;
    padding: 5px 0;
    // visibility: hidden;
    background: white;
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    button {
      border: none;
      background: transparent;
      cursor: pointer;

      &.active {
        color: var(--adv-primary);
      }

      .menu-wrapper {
        padding: 5px 10px;
        text-align: left;
        border-radius: 5px;

        &:hover {
          background: var(--adv-light);
        }

        .menu-title {
          font-size: 15px;
        }

        .menu-subtitle {
          font-size: 12px;
          color: var(--adv-secondary);
        }
      }
    }
  }
}

#writer-page .adv-content {
  flex: 1;
  outline: none;
  height: 100%;

  p.is-editor-empty:first-child::before {
    color: var(--white-800);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  image-placeholder {
    margin: 20px 0;
    display: flex;
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    margin: 5px 0;
    background: var(--secondary-200);
    cursor: pointer;
    border-radius: 5px;

    i {
      font-size: 20px;
      margin-right: 10px;
      color: var(--primary-900);
      display: flex;
      align-items: center;
    }

    input {
      background: transparent;
      border: 0;
      outline: 0;
      color: var(--primary-900);
      flex: 1;
    }
  }

  .image-node {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .image-container {
      max-width: 100%;
      position: relative;

      img {
        width: 100%;
      }

      .caption {
        display: flex;
        justify-content: center;
        height: 20px;
        font-size: 12px;

        span {
          color: var(--secondary-900);
          border: 0;
          outline: 0;
          min-width: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          &:empty:before {
            content: "Caption here...";
          }
        }
      }

      .resizer {
        width: 6px;
        height: 50px;
        border-radius: 10px;
        background: black;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        cursor: ew-resize;
      }
    }
  }

  video-placeholder {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    background: var(--adv-light);
    cursor: pointer;
    flex-direction: column;
    color: var(--adv-primary);
    justify-content: center;

    .heading-row {
      display: flex;
      font-size: 16px;

      i {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    input {
      background: transparent;
      border: none;
      outline: none;
      border: none;
      border-bottom: 1px solid var(--bs-gray-800);
      color: var(--adv-primary);
      flex: 1;
    }
  }

  div[data-youtube-video] {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  blockquote {
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.17px;
    color: var(--primary-500);
    border-left: 3px solid var(--primary-500);
    padding-left: 33px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .callout {
    padding: 20px;
    background: var(--background-500);
    border-radius: 10px;
    color: var(--primary-900);
    font-size: 20px;
    margin: 20px 0;
  }

  code {
    background: var(--secondary-200);
    border-radius: 5px;
    color: black;
    padding: 20px;
    width: 100%;
    display: block;
  }

  h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 2px;
  }

  a {
    color: var(--secondary-700);
    text-decoration: underline;
  }

  ul {
    list-style-type: disc;
    margin-left: 15px;
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 15px;
  }

  hr {
    border-width: 1px;
    border-color: black;
    margin: 20px 0;
    border-radius: 10px;
  }
}
