:root {
  --primary-50: #FBF7F3;
  --primary-100: #F8F0E8;
  --primary-200: #F1E0D0;
  --primary-300: #E8CFB5;
  --primary-400: #DFBA96;
  --primary-500: #D4A373;
  --primary-600: #CA8F53;
  --primary-700: #BB7A3A;
  --primary-800: #9C6630;
  --primary-900: #6D4722;
  --primary-950: #4E3318;
  --secondary-50: #F9FAF5;
  --secondary-100: #F7F8F2;
  --secondary-200: #ECEFE1;
  --secondary-300: #E1E7D0;
  --secondary-400: #D7DEBF;
  --secondary-500: #CCD5AE;
  --secondary-600: #B7C48D;
  --secondary-700: #9BAD61;
  --secondary-800: #80904B;
  --secondary-900: #5F6B38;
  --secondary-950: #424A26;
  --tertiary-50: #FDFEFB;
  --tertiary-100: #FAFBF4;
  --tertiary-200: #F7F9EC;
  --tertiary-300: #F1F4DD;
  --tertiary-400: #EEF1D5;
  --tertiary-500: #E9EDC9;
  --tertiary-600: #D1DA90;
  --tertiary-700: #B4C247;
  --tertiary-800: #98A437;
  --tertiary-900: #6A7326;
  --tertiary-950: #4E541C;
  --background-50: #FFFEFA;
  --background-100: #FFFEFA;
  --background-200: #FFFDF5;
  --background-300: #FEFCEB;
  --background-400: #FEFBE6;
  --background-500: #FEFAE0;
  --background-600: #F9E352;
  --background-700: #E3C607;
  --background-800: #BCA406;
  --background-900: #8A7904;
  --background-950: #635603;
  --foreground-50: #FFFDFA;
  --foreground-100: #FEFCF6;
  --foreground-200: #FDF8EC;
  --foreground-300: #FCF5E3;
  --foreground-400: #FBF0D5;
  --foreground-500: #FAEDCD;
  --foreground-600: #F3D486;
  --foreground-700: #EAB52E;
  --foreground-800: #C79514;
  --foreground-900: #906B0E;
  --foreground-950: #6B4F0B;
  --white-50: #FCFCFC;
  --white-100: #FCFCFC;
  --white-200: #FCFCFC;
  --white-300: #FCFCFC;
  --white-400: #FCFCFC;
  --white-500: #FFFFFF;
  --white-600: #E8E8E8;
  --white-700: #CCCCCC;
  --white-800: #ABABAB;
  --white-900: #7D7D7D;
  --white-950: #595959;
}
